//- header.pug
.dots-container
  .dots
    .dot
    .dot
    .dot
  div
    img.icon(src=iconSrc || "https://i.ibb.co/G9Z8ZTt/fingerprint.png", alt=iconAlt || "지문 아이콘")
  .dots
    .dot
    .dot
    .dot
