# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

#cursor
.cursorrules

# Vercel
.vercels

# vscode 세팅
.vscode

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

#pnpm store
.pnpm-store

# .gitignore
*.tfvars
!*.tfvars.example
.terraform/
terraform.tfstate
terraform.tfstate.backup

docker/oracle/local_data/
docker/redis/local_data/